server {
  listen 80;
  server_name exmaple.com;
  return 301 http://blog.example.com$request_uri;
}
server {
  listen 80;
  server_name www.example.com;
  return 301 http://blog.example.com$request_uri;
}