
server {
    listen 80;
    server_name binarysolo.me;
    return 301 http://blog.binarysolo.me$request_uri;
}

server {
    listen 80;
    server_name www.binarysolo.me;
    return 301 http://blog.binarysolo.me$request_uri;
}
